
<!-- collection_select(:post, :category_id, Category.all, :id, :name, -->
<div>
  <%= form_for @job do |f| %>
    <%= f.label "What industry are you in?" %>
  <%= collection_select(:job, :industry_id, Industry.all, :id, :classification) %>
    <%= f.label "College" %>
      <%= f.text_field :college %>
    <%= f.label "Monthly Student Loan Debt Amount" %>
      <%=  f.number_field :student_loan_pmt %>
    <%= f.label "Desired Job Title" %>
      <%= f.text_field :job_title %>
    <%= f.submit "Create" %>
  <% end %>
</div>

