<div>
  <%= form_for @job do |f| %>
    <%= f.label "College" %>
      <%= f.text_field :college %>
    <%= f.label "Monthly Student Loan Debt Amount" %>
      <%=  f.number_field :student_loan_pmt %>
    <%= f.label "Desired Job Title" %>
      <%= f.text_field :job_title %>
    <%= f.submit "Create" %>
  <% end %>
</div>