
<body id="city-ranking-pic">
  <div class="containter-fluid">
    <div class="row">
      <div class="col-sm-3 no-float">
        <table id="ranking-table">
          <thead>
            <tr>
              <th id="top-cities"><b><h2>Top Cities for <%= @job.job_title%></h2></th>
            </tr>
          </thead>
          <tbody>
            <% @cities.each do |city| %>
            <% if city.rank.present?  %>
              <tr>
                <td id="td"><%= link_to city.name, city_path(city)%> </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <script type="text/javascript">
        var xaxis = []
        var salary_yaxis = []
        var open_housing_yaxis = []
        var unemployment_data = []
        var hours_worked_data = []
        var housing_cost_data = []
        var student_loan_pmt = []
        "<% @cities_jobs_wages.each do |job| %>"
          student_loan_pmt.push("<%= (job.wage * 40 * 54) - (@job.student_loan_pmt * 12) %>")
          salary_yaxis.push("<%= job.wage * 40 * 54 %>")
         " <% end %>"
        "<%= @cities.each do |city| %>"
          xaxis.push("<%= city.name %>")
          open_housing_yaxis.push("<%= city.open_housing %>")
          unemployment_data.push("<%= city.unemployment.to_f.round(2) * 100 %>")
          hours_worked_data.push("<%= city.weekly_hours_worked %>")
          housing_cost_data.push("<%= city.housing_cost %>")
        "<% end %>"
      </script>
      <div class="col-sm-9">
          <!--  salary -->
        <div class="col-sm-10">
          <canvas id="salary_chart"></canvas>
          <div id="legend"class="col-sm-4">
            <ul>
              <li><span id="salary"></span>Salary Based On City</li>
              <li><span id="minus-debt"></span> Salary minus monthly debt * 12</li>
            </ul>
          </div>
        </div>
        <!-- open housing -->
        <div class="row">
          <div class="col-sm-10">
            <canvas id="open_housing"></canvas>
            <div id="legend"class="col-sm-4">
              <ul>
                <li><span id="open-housing-legend"></span>Percentage of Open Housing</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- unemployment -->
        <div class="row">
          <div class="col-sm-10">
            <canvas id="unemployment"></canvas>
            <div id="legend"class="col-sm-4">
              <ul>
                <li><span id="unemployment-legend"></span>Percentage of Unemployed workers by city</li>
              </ul>
            </div>
          </div>
        </div>
       <!--  hours worked -->
        <div class="row">
          <div class="col-sm-10">
            <canvas id="hours-worked"></canvas>
            <div id="legend"class="col-sm-4">
              <ul>
                <li><span id="hours-worked-legend"></span>Average Weekly Hours Wokrked buy city</li>
              </ul>
            </div>
          </div>
        </div>
          <!-- housing cost  -->
        <div class="row">
          <div class="col-sm-10">
            <canvas id="housing_cost"></canvas>
            <div id="legend"class="col-sm-4">
              <ul>
                <li><span id="housing-cost-legend"></span>Median Cost of a home by City</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%= javascript_include_tag "city_charts" %>
