
<body id="city-ranking-pic">
  <div class="containter-fluid">
    <div >
      <div class="row-fluid">
        <div class="col-sm-2">
          <table id="ranking-table">
            <thead>
              <tr>
                <th><b>Ranking</th>
                <th><b>City</th>
              </tr>
            </thead>
            <tbody>
              <% @cities.sort_by do |city| %>
                <tr>
                  <td id="td"><%= city.rank %></td>
                  <td id="td"><%= link_to city.name, city_path(city) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="charts-main" class="span10">
              <script type="text/javascript">
                var xaxis = []
                var salary_yaxis = []
                var open_housing_yaxis = []
                var unemployment_data = []
                var hours_worked_data = []
                "<% @cities_jobs_wages.each do |job| %>"
                  xaxis.push("<%= job.city.name %>")
                  salary_yaxis.push("<%= job.wage * 40 * 54 %>")
                  open_housing_yaxis.push("<%= job.city.open_housing %>")
                  unemployment_data.push("<%= job.city.unemployment.to_f.round(2) * 100 %>")
                  hours_worked_data.push("<%= job.city.weekly_hours_worked %>")
                "<% end %>"
              </script>
          <div class="col-lg-6 col-lg-offset-3">
            <canvas id="salary_chart"></canvas>
          </div>
          <div class="col-lg-3 col-lg-offset3" id="salary-content">
            <p>This primary chart shows salary comparison for your job title across all cities in which your industry was represented as one of the top 20 industreis in the area. The data comes from the Q3 salary survey by the Bureau of Labor Statistics</p>
          </div>
          <div class="col-lg-6">
            <canvas id="open_housing"></canvas>
          </div>
          <div class="col-lg-6">
            <canvas id="unemployment"></canvas>
          </div>
          <div class="col-lg-6">
            <canvas id="hours-worked"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%= javascript_include_tag "city_charts" %>
