
<body id="city-ranking-pic">
  <div class="containter-fluid">
    <div class="row-fluid">
      <div class="col-sm-2 no-float">
        <table id="ranking-table">
          <thead>
            <tr>
              <th id="top-cities"><b><h2>Top Cities</h2></th>
            </tr>
          </thead>
          <tbody>
            <% @cities.each do |city| %>
              <tr>
                <td id="td"><%= link_to city.name, city_path(city) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="charts-main" class="span10">
          <script type="text/javascript">
            var xaxis = []
            var salary_yaxis = []
            var open_housing_yaxis = []
            var unemployment_data = []
            var hours_worked_data = []
            var housing_cost_data = []
            var student_loan_pmt = []
            "<% @cities_jobs_wages.each do |job| %>"
              student_loan_pmt.push("<%= (job.wage * 40 * 54) - (@job.student_loan_pmt * 12) %>")
              xaxis.push("<%= job.city.name %>")
              salary_yaxis.push("<%= job.wage * 40 * 54 %>")
              open_housing_yaxis.push("<%= job.city.open_housing %>")
              unemployment_data.push("<%= job.city.unemployment.to_f.round(2) * 100 %>")
              hours_worked_data.push("<%= job.city.weekly_hours_worked %>")
              housing_cost_data.push("<%= job.city.housing_cost %>")
            "<% end %>"
          </script>
        <!--  salary -->
      <div class="col-sm-6 col-sm-offset-1"><canvas id="salary_chart"></canvas></div>
      <div class="col-sm-3 col-sm-offset3" id="salary-content">
        <div id="background">
          <h2 >Salary by City</h2>
          <h4>This primary chart shows salary comparison for your job title across all cities in which your industry was represented as one of the top 10 industreis in the area. </h4>
        </div>
      </div>
        <!-- occupied housing -->
      <div class="col-sm-3 col-sm-offset-1" id="salary-content">
        <div id="background">
          <h2>Occupied Housing By City</h2>
          <h4> The percentage of open housing by city</h4>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-4">
        <canvas id="open_housing"></canvas>
      </div>
      <!-- unemployment -->
      <div class="row">
        <div class="col-sm-6">
          <canvas id="unemployment"></canvas>
        </div>
        <div class="col-sm-3 col-sm-offset-1" id="salary-content">
          <div id="background">
            <h2>Unemployment Rate By City</h2>
            <h4> h4ercentage of unemployed adults compared to the national average by city.</h4>
          </div>
        </div>
      </div>

     <!--  hours worked -->
     <div class="row">
      <div class="col-sm-3 col-lg-offset-2" id="salary-content">
        <div id="background">
          <h2>Hours Worked By Average Person By City</h2>
          <h4> Average Weekly hours worked by individuals.</h4>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-6">
        <canvas id="hours-worked"></canvas>
      </div>
    </div>
        <!-- housing cost  -->
      <div class="row">
        <div class="col-sm-6">
          <canvas id="housing_cost"></canvas>
        </div>
        <div class="col-sm-3 col-sm-offset-1" id="salary-content">
          <div id="background">
            <h2>Housing Costs by City</h2>
            <h4> Average Housing cost by City comh4ared to the national average.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%= javascript_include_tag "city_charts" %>
