
<body id="city-ranking-pic">
  <div class="containter-fluid">
    <div >
      <div class="row-fluid">
        <div class="col-sm-2 no-float">
          <table id="ranking-table">
            <thead>
              <tr>
                <th><b>Ranking</th>
                <th><b>City</th>
              </tr>
            </thead>
            <tbody>
              <% @cities.sort_by do |city| %>
                <tr>
                  <td id="td"><%= city.rank %></td>
                  <td id="td"><%= link_to city.name, city_path(city) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= @job.student_loan_pmt * 12 %>
        <div id="charts-main" class="span10">
              <script type="text/javascript">
                var xaxis = []
                var salary_yaxis = []
                var open_housing_yaxis = []
                var unemployment_data = []
                var hours_worked_data = []
                var housing_cost_data = []
                var student_loan_pmt = []
                "<% @cities_jobs_wages.each do |job| %>"
                  student_loan_pmt.push("<%= (job.wage * 40 * 54) - (@job.student_loan_pmt * 12) %>")
                  xaxis.push("<%= job.city.name %>")
                  salary_yaxis.push("<%= job.wage * 40 * 54 %>")
                  open_housing_yaxis.push("<%= job.city.open_housing %>")
                  unemployment_data.push("<%= job.city.unemployment.to_f.round(2) * 100 %>")
                  hours_worked_data.push("<%= job.city.weekly_hours_worked %>")
                  housing_cost_data.push("<%= job.city.housing_cost %>")
                "<% end %>"
              </script>
             <!--  salary -->
          <div class="col-lg-6 col-lg-offset-1">
            <canvas id="salary_chart"></canvas>
            <div id="salary-legend" class="chart-legend"></div>
          </div>
          <div class="col-lg-3 col-lg-offset3" id="salary-content">
            <p>This primary chart shows salary comparison for your job title across all cities in which your industry was represented as one of the top 20 industreis in the area. The data comes from the Q3 salary survey by the Bureau of Labor Statistics</p>
          </div>

            <!-- occupied housing -->
          <div class="col-lg-3 col-lg-offset-1" id="salary-content">
            <p> OCCUPIED HOUSING tristique, diam enim tristique ante, non scelerisque libero neque in turpis. Aenean vehicula tempus odio nec pellentesque. Donec nunc eros, laoreet vitae tincidunt sed, aliquam vel nunc.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-4">
            <canvas id="open_housing"></canvas>
          </div>
          <!-- unemployment -->
          <div class="col-lg-6 col-lg-offset-2">
            <canvas id="unemployment"></canvas>
          </div>
          <div class="col-lg-3 col-lg-offset-1" id="salary-content">
            <p> UNEMPLOYMENT tristique, diam enim tristique ante, non scelerisque libero neque in turpis. Aenean vehicula tempus odio nec pellentesque. Donec nunc eros, laoreet vitae tincidunt sed, aliquam vel nunc.</p>
          </div>
         <!--  hours worked -->
          <div class="col-lg-3 col-lg-offset-2" id="salary-content">
            <p> HOURS WORKED tristique, diam enim tristique ante, non scelerisque libero neque in turpis. Aenean vehicula tempus odio nec pellentesque. Donec nunc eros, laoreet vitae tincidunt sed, aliquam vel nunc.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-6">
            <canvas id="hours-worked"></canvas>
          </div>
        <!-- housing cost  -->
          <div class="col-lg-6 col-lg-offset-2">
            <canvas id="housing_cost"></canvas>
          </div>
          <div class="col-lg-3 col-lg-offset-1" id="salary-content">
            <p> HOUSING COST tristique, diam enim tristique ante, non scelerisque libero neque in turpis. Aenean vehicula tempus odio nec pellentesque. Donec nunc eros, laoreet vitae tincidunt sed, aliquam vel nunc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%= javascript_include_tag "city_charts" %>
