
College:  <%= @job.college %><br>
Student Loan Payment:  <%= @job.student_loan_pmt %><br>

<br>
<div class="row">
  <h3 class="col-lg-6" id="titles">Top Cities by Salary for <%= @job.job_title %></h3>
  <h3 class="col-lg-offset-6" id="title">Top Cities for Your industry </h3>
</div>
<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-6">
      <canvas id="salary_chart" width="600" height="400"></canvas>
    </div>
    <div class="col-lg-6">
      <canvas id="industry_chart" width="600" height="400"></canvas>
    </div>
  </div>
    <div class="row">
    <h3 class="col-lg-6" id="titles">Percentage of Open Housing by City</h3>
    <h3 class="col-lg-offset-6" id="title"></h3>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <canvas id="open_housing" width="600" height="400"></canvas>
      <canvas id="unemployment" width="600" height="400"></canvas>
    </div>
  </div>
</div>
<script type="text/javascript">
  var xaxis = []
  var salary_yaxis = []
  var open_housing_yaxis = []
  var unemployment_data = []
  "<% @cities_jobs_wages.each do |job| %>"
    xaxis.push("<%= job.city.name %>")
    salary_yaxis.push("<%= job.wage * 40 * 54 %>")
    open_housing_yaxis.push("<%= job.city.open_housing %>")
    unemployment_data.push("<%= job.city.unemployment.to_f.round(2) * 100 %>")
  "<% end %>"
  </script>

  <script type= "text/javascript">
    var industry_xaxis = []
    var industry_yaxis = []
    "<% @industries.each do |industry| %>"
      industry_xaxis.push("<%= industry.city.name %>")
      industry_yaxis.push("<%= industry.rank %>")
    "<% end %>"
  </script>

<%= javascript_include_tag "city_charts" %>
